/* 
Der Sinn der styles.css ist, die Farben, 
die Schriftgröße/-art und das Aussehen aller Elemente in der
HTML-Datei zu gestalten.
*/

/* Der Hintergund ist pink. */
body{
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

table{
    border: 1px solid;
    width: 100%;
}

tr{
    border: 1px solid;
}

th{
    border: 1px solid;
    background-color: chartreuse;
}

td{
    border: 1px solid;
}


h1{
    /* px ist die Angabe der Größe in Pixel */
    font-size: 60px;
}

/* die Schriftfarbe in Absätzen ist red */
p{
    color: red;
}
